<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.practice.practicespring.db.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="org.example.practice.practicespring.db.model.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userid" jdbcType="BIGINT" property="userid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="price" jdbcType="BIGINT" property="price"/>
    </resultMap>

    <sql id="base_columns">
        id
        , user_id, username, price
    </sql>

    <select id="selectAll" resultType="org.example.practice.practicespring.db.model.OrderInfo"
            resultMap="BaseResultMap">
        select *
        from order_info limit 100
    </select>

    <insert id="insert" parameterType="org.example.practice.practicespring.db.model.OrderInfo">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userid != null">userid,</if>
            <if test="username != null">username,</if>
            <if test="price != null">price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="userid != null">#{userid,jdbcType=BIGINT},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="price != null">#{price,jdbcType=BIGINT},</if>
        </trim>
    </insert>
</mapper>
